body {
  direction: rtl;
  text-align: right;
  font-family: "Vazirmatn", sans-serif;
}
div.kolcards {
  display: flex;
  justify-content: space-around;
}
h1{
  display: flex;
  justify-content: center;
}
.btn-group{
  direction: ltr;
}
div.kolbuttons{
  display: flex;
  justify-content: center;
}
h3.bottom{
  text-align:center;
}
div.row{
  width: 60vw;
  height: 60vh;
}
svg.andaze{
  width: 40px;
  height: 40px;
}